* {
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}

#canvas-wrapper {
    position: relative;
    float: left;
    margin: 1%;
    width: 900px;
    height: 700px;
    border: solid 5px;
}

#panel {
    position: relative;
    float: left;
    margin: 3%;
    border: solid 1px;
    width: 300px;
    height: 400px;
    text-align: center;
    background-color: #bfc4cc;
}

#player-turn {
    display: inline-block;
    padding: 5px;
    text-decoration: underline;
    margin: 5px;
    font-size: 20px;
}

#l {
    width: 95%;
    margin: 2.5%;
}

#actions {
    position: relative;
    margin: 5px;
    padding: 10px;
}

.char-button{
    border: solid 1px;
    padding: 10px;
    margin: 20px;
    background-color: grey;
    color: white;
    cursor: pointer;
}
